.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
  main {
    flex-grow: 1
  }
}


.progress {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
