<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
  <mz-card>
    <mz-card-title>Register</mz-card-title>
    <mz-card-content>
      <mz-input-container>
        <input
          label="E-Mail"
          id="email"
          type="email"
          formControlName="email"
          [validate]="true"
          mzInput>
      </mz-input-container>


      <mz-input-container>
        <input
          label="Username"
          id="username"
          formControlName="username"
          [validate]="true"
          mzInput>
      </mz-input-container>


      <mz-input-container>
        <input
          label="Password"
          id="password"
          type="password"
          formControlName="password"
          autocomplete="new-password"
          [validate]="true"
          mzInput>
      </mz-input-container>


      <mz-input-container>
        <input
          label="Repeat password"
          id="passwordRepeated"
          type="password"
          formControlName="passwordRepeated"
          autocomplete="new-password"
          [validate]="true"
          mzInput>
      </mz-input-container>

      <mz-input-container>
        <input
          label="First name"
          id="firstName"
          formControlName="firstName"
          [validate]="true"
          mzInput>
      </mz-input-container>

      <mz-input-container>
        <input
          label="Last name"
          id="lastName"
          formControlName="lastName"
          [validate]="true"
          mzInput>
      </mz-input-container>
    </mz-card-content>
    <mz-card-action>
      <button [disabled]="!registerForm.valid" mzButton>Register</button>
    </mz-card-action>
  </mz-card>
</form>
