<section class="section">
  <h2 class="section-title">Register / Sign Up</h2>
  <div class="row">
    <div class="offset-lg-3 col-lg-6">

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input id="email" type="email" class="form-control" placeholder="E-Mail" formControlName="email">
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" class="form-control" placeholder="Username" formControlName="username">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control" placeholder="Password" formControlName="password"
                 autocomplete="new-password">
        </div>

        <div class="form-group">
          <label for="password">Repeat Password</label>
          <input id="passwordRepeated" type="password" class="form-control" placeholder="Repeat Password" formControlName="passwordRepeated"
                 autocomplete="new-password">
        </div>

        <div class="form-group">
          <label for="firstName">First name</label>
          <input id="firstName" class="form-control" placeholder="First name" formControlName="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Last name</label>
          <input id="lastName" class="form-control" placeholder="Last Name" formControlName="lastName">
        </div>

        <button class="btn btn-primary mt-2" [disabled]="!registerForm.valid">Register</button>
      </form>
    </div>
  </div>
</section>
