<mz-card>
  <mz-card-title>User List</mz-card-title>
  <mz-card-content>
    <ng-container *ngIf="loading$ | async">
      <mz-spinner color="blue" size="big"></mz-spinner>
    </ng-container>
    <ng-container *ngIf="!(loading$ | async)">
      <table class="striped responsive-table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Roles</th>
          <th>First name</th>
          <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles.join(', ') | titlecase}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
        </tr>
        </tbody>
      </table>
    </ng-container>
  </mz-card-content>
</mz-card>
