<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  <mz-card>
    <mz-card-title>Login</mz-card-title>
    <mz-card-content>
      <div class="section">
        <mz-input-container>
          <input
            label="E-Mail"
            id="email"
            type="email"
            [validate]="true"
            formControlName="email"
            mzInput>
        </mz-input-container>

        <mz-input-container>
          <input
            label="Password"
            id="password"
            type="password"
            [validate]="true"
            formControlName="password"
            mzInput>
        </mz-input-container>

        <mz-checkbox-container>
          <input
            label="Remember me"
            id="remember-me"
            type="checkbox"
            formControlName="rememberMe"
            mzCheckbox>
        </mz-checkbox-container>
      </div>

    </mz-card-content>
    <mz-card-action>
      <button [disabled]="!loginForm.valid" mzButton>Login</button>
    </mz-card-action>
  </mz-card>
</form>
