<nav class="page-nav-space-holder d-none d-md-block">
  <div id="page-nav-wrapper" class="page-nav-wrapper text-center" #pageNavWrapper>
    <div class="container">
      <ul id="page-nav" class="nav page-nav list-inline">
        <li class="nav-item">
          <a class="nav-link" href="#top" appSmoothScroll="#" data-scroll-spy-link>Top</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills" appSmoothScroll="#skills" data-scroll-spy-link>Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work-experience" appSmoothScroll="#work-experience" data-scroll-spy-link>Work Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education" appSmoothScroll="#education" data-scroll-spy-link>Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-me" appSmoothScroll="#contact-me" data-scroll-spy-link>Contact Me</a>
        </li>
      </ul><!--//page-nav-->
    </div>
  </div><!--//page-nav-wrapper-->
</nav>
