<mz-navbar>
  <div class="container">
    <a routerLink="/" class="brand-logo">RPNG</a>

    <mz-navbar-item-container [align]="'left'" *ngIf="smallResolution$ | async">
      <mz-navbar-item>
        <a id="btn-open-sidenav">
          <i align="left" icon="menu" mz-icon-mdi></i>
        </a>
      </mz-navbar-item>
    </mz-navbar-item-container>

    <mz-navbar-item-container [align]="'right'" *ngIf="!(smallResolution$ | async)">
      <mz-navbar-item [active]="rlaHome.isActive">
        <a routerLink="/" routerLinkActive #rlaHome="routerLinkActive" [routerLinkActiveOptions]="{exact:true}">
          <i align="left" icon="home" mz-icon></i>
          Home
        </a>
      </mz-navbar-item>

      <ng-container *ngIf="isLogin$ | async">
        <mz-navbar-item [active]="rlaProfile.isActive">
          <a routerLink="/profile" routerLinkActive #rlaProfile="routerLinkActive">
            <i align="left" icon="account_circle" mz-icon></i>
            Profile
          </a>
        </mz-navbar-item>

        <mz-navbar-item [active]="rlaUsers.isActive">
          <a routerLink="/users" routerLinkActive #rlaUsers="routerLinkActive">
            <i align="left" icon="account-group" mz-icon-mdi></i>
            Users
          </a>
        </mz-navbar-item>

        <mz-navbar-item>
          <a (click)="onLogout()">
            <i align="left" icon="logout" mz-icon-mdi></i>
            Logout
          </a>
        </mz-navbar-item>
      </ng-container>

      <ng-container *ngIf="!(isLogin$ | async)">
        <mz-navbar-item [active]="rlaRegister.isActive">
          <a routerLink="/register" routerLinkActive #rlaRegister="routerLinkActive">
            <i align="left" icon="account-plus" mz-icon-mdi></i>
            Register
          </a>
        </mz-navbar-item>
        <mz-navbar-item [active]="rlaLogin.isActive">
          <a routerLink="/login" routerLinkActive #rlaLogin="routerLinkActive">
            <i align="left" icon="login" mz-icon-mdi></i>
            Login
          </a>
        </mz-navbar-item>
      </ng-container>


    </mz-navbar-item-container>
  </div>
</mz-navbar>


<mz-sidenav
  *ngIf="smallResolution$ | async"
  [id]="'sidenav'"
  collapseButtonId="btn-open-sidenav">

  <!--<mz-sidenav-header>
    <a routerLink="/">
      <h5 class="center-align">RPNG</h5>
    </a>
  </mz-sidenav-header>-->

  <mz-sidenav-link [active]="rlasHome.isActive">
    <a routerLink="/" routerLinkActive #rlasHome="routerLinkActive" [routerLinkActiveOptions]="{exact:true}">
      <i align="left" icon="home" mz-icon></i>
      Home
    </a>
  </mz-sidenav-link>

  <ng-container *ngIf="isLogin$ | async">
    <mz-sidenav-link [active]="rlaProfile.isActive">
      <a routerLink="/profile" routerLinkActive #rlaProfile="routerLinkActive">
        <i align="left" icon="account_circle" mz-icon></i>
        Profile
      </a>
    </mz-sidenav-link>

    <mz-sidenav-link [active]="rlaUsers.isActive">
      <a routerLink="/users" routerLinkActive #rlaUsers="routerLinkActive">
        <i align="left" icon="account-group" mz-icon-mdi></i>
        Users
      </a>
    </mz-sidenav-link>

    <mz-sidenav-link>
      <a (click)="onLogout()">
        <i align="left" icon="logout" mz-icon-mdi></i>
        Logout
      </a>
    </mz-sidenav-link>
  </ng-container>

  <ng-container *ngIf="!(isLogin$ | async)">
    <mz-sidenav-link [active]="rlaRegister.isActive">
      <a routerLink="/register" routerLinkActive #rlaRegister="routerLinkActive">
        <i align="left" icon="account-plus" mz-icon-mdi></i>
        Register
      </a>
    </mz-sidenav-link>
    <mz-sidenav-link [active]="rlaLogin.isActive">
      <a routerLink="/login" routerLinkActive #rlaLogin="routerLinkActive">
        <i align="left" icon="login" mz-icon-mdi></i>
        Login
      </a>
    </mz-sidenav-link>
  </ng-container>
</mz-sidenav>

