body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
}

p {
  margin: 15px 0 !important;
}

.progress {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

