/* You can add global styles to this file, and also import other style files */
p {
    margin: 15px 0 !important;
}

.progress {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}
  
  
