@import 'variables';
@import '~bootstrap/scss/bootstrap';
// @import "~ngx-toastr/toastr.css";
@import "~ngx-toastr/toastr-bs4-alert";

body {
  position: relative;
}

.will-animate {
  visibility: hidden;
}

section:last-child {
  margin-bottom: 45px !important;
}
